.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-bar {
  background-color: black;
  height: 100vh;
  min-width: 220px;
  position: sticky;
  top: 0px;
}

body {
  color: white;
  background-color: rgb(18, 18, 18);
}

.logo {
  width: 200px;
}

.ml-3.mt-4 {
  font-weight: 800;
}

i {
  font-size: 30px;
  cursor: pointer;
}

.sidebar-item {
  cursor: pointer;
}

.back-forth-search {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.input-field {
  margin-top: 13px;
  min-width: 200px;
}

.music-card {
  background-color: rgb(24 24 24);
  height: 350px;
  position: relative;
  cursor: pointer;
}

.card-title.h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.bi.bi-heart,
.bi.bi-heart-fill {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
}

.music-player {
  position: sticky;
  bottom: 0;
  background: rgb(24 24 24);
  height: 90px;
  border-top: 1px solid rgb(40 40 40);
}
